<div class="container mt-3 py-2 bg-secondary bg-opacity-25">
  <h2 style="color:blue">Login de usuario</h2>
  <form method="post" id="login" action="/login">
    <div class="mb-3">
      <label for="nameLogin" class="form-label">Ingrese su nombre: </label>
      <input type="text" class="form-control" id="nameLogin" name="nameLogin" aria-describedby="nameLogin" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>